.badge-glow {
  --color: transparent;
  --pulseStart: 10px;
  --pulseEnd: 20px;
  filter: drop-shadow(0px 0px 10px var(--color));
  animation: glow 3s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    filter: drop-shadow(0px 0px var(--pulseStart) var(--color));
  }

  to {
    filter: drop-shadow(0px 0px var(--pulseEnd) var(--color));
  }
}

.glow-gold {
  --color: #ffd700;
  --pulseStart: 1px;
  --pulseEnd: 15px;
}

.glow-silver {
  --pulseStart: 1px;
  --pulseEnd: 10px;
  --color: #c0c0c0;
}

.sparkle {
  --rotate: 50deg;
  --size: 10px;
  --delay: 10s;
  animation: sparkle 3s ease-in-out infinite alternate;
  animation-delay: var(--delay);
  opacity: 0;
  background: url("../public/images/sparkle-star.svg");
  background-position: top left;
  background-size: cover;
  height: var(--size);
  width: var(--size);
  filter: invert(1);
  position: absolute;
  z-index: 10;
}

@keyframes sparkle {
  0% {
    transform: rotate(0) scale(1);
    opacity: 0;
  }

  80% {
    transform: rotate(0) scale(1);
    opacity: 0;
  }

  100% {
    transform: rotate(var(--rotate)) scale(1.5);
    opacity: 1;
  }
}
