@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .masonry {
      column-gap: 1.5em;
      column-count: 2;
    }

    .break-inside {
      break-inside: avoid;
    }
  }
}

body {
  @apply font-inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.ContentSection {
  @apply max-w-screen-sm mx-auto;
  @apply py-8;
  @apply px-6;
}

@screen sm {
  .ContentSection {
    @apply max-w-screen-md;
    @apply py-16;
    @apply px-0;
  }
}

@screen md {
  .ContentSection {
    @apply max-w-screen-lg mx-auto;
    @apply py-32;
    @apply w-2/3;
  }
}

h1,
h2,
h3,
h4 {
  @apply font-bold;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

.journey-map__milestone {
  transform: perspective(200px) rotateX(75deg);
  transform-style: preserve-3d;
  @apply top-8;
}

:root {
  --light-background: #fafaff;
  --dark-background: #111827;
  --light-foreground: #020202;
  --dark-foreground: #f9fafb;
}

html.light {
  --background: var(--light-background);
  --foreground: var(--light-foreground);
}

html.dark {
  --background: var(--dark-background);
  --foreground: var(--dark-foreground);
}
